body {
	text-align: center;
	font-family:verdana;
	background-image: url(Imagens/dreamstime.jpg);
	color: white;

	}

h1 {
	font-size: 60px ;
	padding-top: 60px;
	text-shadow: 2px 2px 2px gray;
	margin-bottom: 15px;
	}

	p{
	font-size: 30px;

		}
		.botao {
			text-decoration:none;
			background-color: rgb(204,0,0);
			color: white;
			font-size: 20px;
			padding: 10px 15px 10px 15px;
			border-radius: 4px ;
}
.botao hover {
	backgroubd color: rgba(204,0,0.7);

	}
	.lista {
		list-style: none;
		padding-left:0px;
		margin-top-top: 100px;

		}

	.lista li {
display: inline;

}

.lista a {
	color: white;
	font-size: 30px;


	}